.App {
  text-align: center;
}

.loading {
  text-align: center;
}

body {
  background: rgb(231, 231, 231);
  font-size: calc(10px + 2vmin);
}

.title,
.logo {
  text-align: center;
}

.button-primary {
  margin-left: 255px;
}

.u-full-width,
#name {
  border-radius: 20px;
  width: 49%;
}

.sales {
  text-align: center;
  margin: auto;
}

.card-image {
  height: 290px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

